body{
    font-family: 'Poppins', sans-serif;
    background: #fcf4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content1{
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    width: 50vw;
    min-height: 480px;
    max-width: 100%;
}