.notification-menu {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
   -webkit-backdrop-filter: blur(10px); /* Pour Chrome */
  backdrop-filter: blur(10px); /* Pour les autres navigateurs compatibles */
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  position: relative;
  min-width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.notification-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-item {
  background-color: #007bff; /* bleuAccent */
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.notification-item:hover {
  background-color: #0056b3;
}

.notification-menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.1);
   -webkit-backdrop-filter: blur(10px); /* Pour Chrome */
  backdrop-filter: blur(10px); /* Pour les autres navigateurs compatibles */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
