@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.notification-container {
    position: relative; /* Position relative pour contenir les notifications */
    overflow: hidden; /* Cache le débordement */
    width: 100%; /* Largeur du conteneur */
    height: auto; /* Hauteur automatique */
     background-color: #66bb6a; /* Couleur de fond verte accentuée */
     border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.notification-item {
    white-space: nowrap; /* Empêche le retour à la ligne */
    animation: scroll 15s linear infinite; /* Animation de défilement */
    font-size: 16px; /* Taille de police moyenne */
    color: #fff; /* Vert accentué */
    margin: 0; /* Pas de marge */
    padding: 0; /* Padding horizontal pour l'espacement */
    font-family: 'Roboto', sans-serif; /* Police moderne */
    line-height: 50px; /* Aligne le texte verticalement */
    transition: color 0.3s; /* Transition douce pour le changement de couleur */
}

/* Animation de défilement */
@keyframes scroll {
    0% {
        transform: translateX(100%); /* Commence à droite */
    }
    100% {
        transform: translateX(-100%); /* Se termine à gauche */
    }
}

/* Effet de pause au survol */
.notification-container:hover .notification-item {
    animation-play-state: paused; /* Pause l'animation au survol */

}